version: "3.9"

services:

  backend:
    build:
      context: ./backend
    image: sotirusama/hms-backend:latest
    networks:
      - hms-network
    container_name: hms-backend
    env_file:
      - ./.backend-env
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://ec2-13-221-178-64.compute-1.amazonaws.com:5000/api/
    image: sotirusama/hms-frontend:latest
    networks:
      - hms-network
    container_name: hms-frontend
    env_file:
      - ./.frontend-env
    ports:
      - "3002:80"
      - "80:80"
    restart: unless-stopped

networks:
  hms-network:
    driver: bridge